// Color pallete

// base color
$white: #fff;
$black: #000;

// red
$red-100: #f59888;
$red-200: #d38484;
$red-300: #dc3545;

// green
$green-100: #d4e6d5;
$green-200: #27b13c;
$green-300: #209732;

// gray
$gray-100: #f8f8f8;
$gray-200: #dfdfdf;
$gray-300: #c2c2c2;
$gray-400: #888;
$gray-500: #606060;
$gray-600: #333;

// yellow|orange
$yellow-100: #ffc5a5;

// purple
$purple-100: #ffc8df;