// input
$input-font-size: $font-size-base;
$input-color: $text;
$input-line-height: $line-height-m;
$input-placeholder-color: $gray-400;
$input-placeholder-color-focus: $gray-300;

$input-padding-x: .75em;
$input-padding-y: .5625em;

$input-background: $gray-100;
$input-border: $green-200;
$input-border-radius: $border-radius-s;

$input-background-disabled: $gray-200;
