@import url("https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,400,600|Tulpen+One&display=swap");
.block-information {
  display: flex;
  justify-content: center;
}
.block-information__block {
  display: flex;
  width: 850px;
  height: 600px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
}
@media only screen and (max-width: 991px) {
  .block-information__block {
    flex-direction: column;
    height: auto;
    width: 100%;
    min-width: 250px;
    max-width: 500px;
  }
}
@media only screen and (max-width: 767px) {
  .block-information__block {
    max-width: 330px;
  }
}
.block-information__block-link {
  position: relative;
  height: 30px;
  width: 30px;
  margin-left: 10px;
}
.block-information__block-links {
  display: flex;
  flex-wrap: wrap;
}
.block-information__button {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
  font-family: "Cormorant Garamond", serif;
  font-size: 18px;
  color: #333;
  text-decoration: underline;
  text-decoration-color: #888;
  cursor: pointer;
}
.block-information__button--close-one {
  margin-top: 0;
}
@media only screen and (max-width: 991px) {
  .block-information__button--close-one {
    display: none;
  }
}
.block-information__button--close-two {
  display: none;
  margin-top: 0;
  margin-bottom: 10px;
}
@media only screen and (max-width: 991px) {
  .block-information__button--close-two {
    display: flex;
  }
}
.block-information__button-link {
  color: #333;
  text-decoration-color: #888;
}
.block-information__button-link:hover {
  color: #333;
  text-decoration-color: #888;
}
.block-information__content {
  position: relative;
  height: 100%;
  padding: 14px;
  text-align: center;
  font-family: "Cormorant Garamond", serif;
  font-size: 18px;
}
@media only screen and (max-width: 767px) {
  .block-information__content {
    padding: 10px;
  }
}
.block-information__img-country {
  position: relative;
  bottom: 5px;
  height: 26px;
  width: 30px;
  margin-left: 5px;
}
.block-information__line {
  margin-bottom: 5px;
}
.block-information__link {
  position: absolute;
  height: 100%;
  width: 100%;
}
.block-information__page {
  width: 50%;
  background-color: #F5F5F5;
  background-image: linear-gradient(90deg, #dfdfdf 0%, rgba(247, 247, 247, 0) 18%);
}
.block-information__page:nth-of-type(1) {
  background-image: linear-gradient(-90deg, #dfdfdf 0%, rgba(247, 247, 247, 0) 18%);
}
@media only screen and (max-width: 991px) {
  .block-information__page {
    width: 100%;
    min-width: 250px;
    max-width: 500px;
    justify-content: center;
    background-image: linear-gradient(-90deg, #dfdfdf 0%, rgba(247, 247, 247, 0) 18%);
  }
  .block-information__page--1 {
    display: flex;
    margin-bottom: -10px;
    padding-bottom: 10px;
  }
}
@media only screen and (max-width: 767px) {
  .block-information__page {
    max-width: 330px;
  }
}
.block-information__parametr {
  width: 100px;
  text-transform: uppercase;
  font-size: 14px;
}
.block-information__row {
  display: flex;
  margin-bottom: 15px;
  padding-bottom: 3px;
  text-align: left;
  border-bottom: 1px solid;
}
.block-information__row--border-bottom {
  border-bottom: 0;
}
.block-information__title {
  margin-bottom: 20px;
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.item {
  height: 225px;
  width: 175px;
  margin-right: 30px;
  margin-bottom: 60px;
  padding-right: 14px;
  padding-left: 14px;
}
@media only screen and (max-width: 991px) {
  .item {
    height: 200px;
    width: 150px;
    margin-right: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .item {
    margin-right: 10px;
  }
}
.item__block {
  position: absolute;
}
.item__image {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.item__image--height {
  height: auto !important;
}
.item__image-block {
  position: relative;
  height: 225px;
  width: 175px;
  overflow: hidden;
}
@media only screen and (max-width: 991px) {
  .item__image-block {
    height: 200px;
    width: 150px;
  }
}
.item__link {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.item__shadow {
  box-shadow: 3px 3px 3px #555;
}
.item__shadow:hover {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5;
}
.item__title {
  padding: 0 10px 5px;
  text-align: center;
  font: 400 16px/1 "Lobster", cursive;
  color: #888;
  background-color: #F8F8F8;
  border: 10px solid #F8F8F8;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.item__title:hover {
  position: absolute;
  width: 100%;
  text-overflow: revert;
  white-space: normal;
  z-index: 5;
}
.item:hover {
  transform: scale(1.1);
  z-index: 5;
}

.item-list {
  display: flex;
  position: relative;
  flex-wrap: wrap;
}

.popup {
  position: absolute;
  top: 35px;
  left: 0;
  right: 0;
  max-height: 280px;
  padding: 5px 16px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 10px 29px rgba(92, 141, 255, 0.22);
  overflow-y: scroll;
  z-index: 7;
}
.popup__block {
  position: relative;
  display: flex;
  margin-bottom: 10px;
  color: #2a2935;
  border-bottom: 1px solid #ddd;
}
.popup__block-img {
  position: relative;
  height: 40px;
  width: 40px;
  margin-right: 14px;
}
.popup__img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.popup__link {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.popup__title {
  margin-bottom: 5px;
  line-height: 20px;
  font-weight: 500;
}
.popup__title-original {
  font-size: 12px;
  color: #666;
}

.poster {
  max-width: 275px;
  max-height: 400px;
  margin-top: 20px;
  margin-left: 70px;
}
@media only screen and (max-width: 991px) {
  .poster {
    height: 100%;
    width: 100%;
    max-height: 100%;
    margin-top: 10px;
    margin-left: 0;
  }
  .poster__image-block {
    position: relative;
    height: 300px;
    max-width: 275px;
    overflow: hidden;
  }
}
.poster__image {
  border: 10px solid #F8F8F8;
}
@media only screen and (max-width: 991px) {
  .poster__image {
    position: absolute;
    height: 300px !important;
    width: 100%;
    max-width: 275px !important;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .poster__image--height {
    height: auto !important;
  }
}
.poster__original-title {
  margin-top: -10px;
  padding: 0 10px 5px;
  text-align: center;
  font: 400 18px/1 "Lobster", cursive;
  color: #888;
  background-color: #F8F8F8;
  border: 10px solid #F8F8F8;
}
@media only screen and (max-width: 991px) {
  .poster__original-title--margin {
    margin-top: 0;
  }
}
.poster__shadow {
  box-shadow: 3px 3px 3px #777;
}
.poster__title {
  margin-top: -10px;
  padding: 0 10px 5px;
  text-align: center;
  font: 400 16px/1 "Lobster", cursive;
  color: #888;
  background-color: #F8F8F8;
  border: 10px solid #F8F8F8;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.search {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.search__block {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 400px;
}
.search__button {
  width: 25%;
  max-width: 100px;
  margin-left: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #37cd8f;
  border: 0;
  border-radius: 6px;
  box-shadow: 0 5px 15px rgba(48, 181, 126, 0.7);
}
.search__button:hover {
  background-color: #2eb87e;
  cursor: pointer;
}
.search__input {
  width: 100%;
  height: 30px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #37cd8f;
  border-radius: 6px;
}/*# sourceMappingURL=style.css.map */