@import './../../design-system';
@import './../../style/mixins.scss';

.repetition {
	display: flex;
	justify-content: center;
	font-family: $font-family-serif;

	&__block {
		display: flex;
		width: 850px;
		min-height: 600px;
		box-shadow: 0 0 50px rgba($black, .3);
	
		@include mq('tablet') {
			display: block;
			min-height: auto;
			min-width: 250px;
			max-width: 500px;
		}
	
		@include mq('phone') {
			max-width: 330px;
		}
	}

	&__btn-create-menu {
		position: absolute;
		top: 10px;
		right: 15px;
		font-size: $font-size-xl;

		@include mq('tablet') {
			display: none;
		}

		&--mobile {
			display: none;

			@include mq('tablet') {
				display: block;
			}
		}
	}

	&__content {
		position: relative;
		height: 100%;
		padding: 15px;
		font-size: $font-size-xl;
		text-align: center;
	}

	&__front-page {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
	}

	&__menu {
		margin-top: 50px;
		font-size: $h2-font-size;

		@include mq('tablet') {
			margin-top: 0;
			font-size: $h3-font-size;
		}
	}

	&__menu-block {
		margin: 10px 0 50px;
	}

	&__menu-page-number {
		position: absolute;
		bottom: 10px;
		right: 15px;
	}

	&__name {
		margin: 5px 0 -5px;
	}

	&__number-page {
		margin: 5px 0 -5px;
	}

	&__page {
		position: relative;
		width: 50%;
		background-color: $gray-100;
		background-image: linear-gradient(90deg, $gray-200 0%, rgba($gray-100, 0) 18%);
		
		&:nth-of-type(1) {
			background-image: linear-gradient(-90deg, $gray-200 0%, rgba($gray-100, 0) 18%);
		}

		@include mq('tablet') {
			width: 100%;
			background-image: linear-gradient(-90deg, $gray-200 0%, rgba($gray-100, 0) 18%);
		}
	}

	&__row {
		display: flex;
		justify-content: space-between;
		margin-bottom: 5px;
		border-bottom: 1px dotted $black;
	}

	&__title {
		margin-bottom: 100px;
		font-size: $h1-font-size;
		text-align: center;
		letter-spacing: 1px;

		@include mq('tablet') {
			margin: 40px 0 0;
			font-size: $h2-font-size;
		}
	}
}