@import './../../design-system';
@import './../../style/mixins.scss';

.gma-collection-header {
	display: flex;
    justify-content: space-between;
	margin-bottom: 25px;
	padding: 0 14px;
    font-size: $h1-font-size;
	color: $white;

	&__change {
		font-size: $h2-font-size;
		text-decoration: underline;
	}

	&__link {
		padding-right: 14px;
		color: $white;

		&:hover {
			color: $gray-400;
		}
	}
}

.gma-item {
	height: 265px;
	width: 203px;
	margin-bottom: 100px;
    padding-right: 14px;
    padding-left: 14px;

	@include mq('tablet') {
		height: 200px;
		width: 150px;
		margin-right: 20px;
	}

	@include mq('phone') {
		margin-right: 10px;
	}

	&__block {
		position: absolute;
	}

	&__image {
		position: absolute;
		width: 100%;
		height: 100%;
		object-fit: cover;

		&--height {
			height: auto !important;
		}
	}

	&__image-block {
		position: relative;
		height: 225px;
		width: 175px;
		overflow: hidden;

		&--empty {
			background-color: $gray-400;
		}

		@include mq('tablet') {
			height: 200px;
			width: 150px;
		}
	}

	&__link {
		position: absolute;
		height: 100%;
		width: 100%;
		z-index: 1;
	}

	&__shadow {
		box-shadow: 3px 3px 3px $gray-500;

		&:hover {
			z-index: 5;
		}
	}

	&__title {
		position: absolute;
		width: 100%;
		padding: 0 10px 5px;
		text-align: center;
		font: 400 16px/1 'Lobster', cursive;
		color: $gray-400;
		background-color: $gray-100;
		border: 10px solid $gray-100;

		&:hover {
			z-index: 5;
		}
	}

	&:hover {
		transform: scale(1.1);
		z-index: 5;
	}
}

.gma-item-list {
	display: flex;
	position: relative;
	flex-wrap: wrap;

	&--center {
		justify-content: center;

		@include mq('phone') {
			justify-content: unset;
		}
	}
}

.gma {
	&__center {
		display: flex;
		justify-content: center;
	}
}
