@import './../../../design-system';

.popup {
	position: absolute;
	width: 400px;
	max-height: 280px;
	margin-top: 10px;
	padding: 5px 16px;
	background-color: $white;
	border: 1px solid $gray-200;
	border-radius: 5px;
	box-shadow: 0 10px 29px rgba($gray-600, .22);
	overflow-y: scroll;
	z-index: 7;

	&--menu {
		width: 100%;
		margin: 0;
		padding: 0;
		background-color: $gray-100;
		border: 1px solid $black;
		border-top: none;
		border-radius: 0;
	}

	&__block {
		position: relative;
		margin-bottom: 10px;
		font-size: $font-size-m;
		color: $gray-600;
		border-bottom: 1px solid $gray-200;

		&--menu {
			height: 30px;
			margin: 0;
			border-bottom: 1px solid $black;

			&:last-child {
				border: none;
			}
		}
	}

	&__link {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		width: 100%;
	}

	&__name {
		font-family: $font-family-serif;
		font-size: 18px;
		color: $gray-600;
	}
}
