@import './../../design-system';
@import './../../style/mixins.scss';

.head {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
	padding: 10px 0 0 20px;
	color: $white;

	@include mq('tablet') {
		height: 50px;
		padding: 10px 15px 0;
	}

	&__main {
		display: flex;
	}

	&__menu {
		display: none;
		position: relative;
		bottom: 1px;
		width: 35px;
		height: 35px;
		padding: 7px 11px 9px 1px;
		background: transparent;
		cursor: pointer;

		@include mq('tablet') {
			display: block;
		}
	}

	&__menu-icon {
		position: absolute;
		top: 16px;
		left: 1px;
		width: 26px;
		height: 4.5px;
		border-radius: 50%;
		background: $red-200;
		transition: all .2s ease 0s;

		&::before {
			content: '';
			position: absolute;
			top: -9px;
			left: 0;
			width: 26px;
			height: 4.5px;
			border-radius: 50%;
			background: $red-200;
			transition: all .2s ease 0s;
		}

		&::after {
			content: '';
			position: absolute;
			bottom: -9px;
			left: 0;
			width: 26px;
			height: 4.5px;
			border-radius: 50%;
			background: $red-200;
			transition: all .2s ease 0s;
		}

		&--active {
			left: 10px;
			width: 0;

			&::before {
				top: 0;
				left: -14px;
				width: 35px;
				height: 3px;
				border-radius: 3px;
				transform: rotate(45deg);
			}

			&::after {
				bottom: 2px;
				left: -14px;
				width: 35px;
				height: 3px;
				border-radius: 3px;
				transform: rotate(-45deg);
			}
		}
	}

	&__login {
		padding: 5px;
		background-color: rgba($white, .9);
		border-radius: 10px;
	}

	&__logo {
		color: $white;
		line-height: $line-height-xs;
		font-size: $font-size-logo;
		font-family: $font-family-logo;

		@include mq('tablet') {
			font-size: $h1-font-size;
		}
	}

	&__registration {
		margin-right: 3%;
		margin-top: 1%;
		font-size: $font-size-xl;
		color: $red-200;
		cursor: pointer;

		@include mq('tablet') {
			margin-top: 5px;
			margin-right: 0;
		}
	}

	&__unlogin {
		width: 95%;
		margin-left: 2%;
		margin-bottom: -15px;
		margin-top: 10px;
		padding: 3px;
		text-align: center;
		color: $gray-100;
		background-color: $red-200;
		border-radius: 5px;
		text-shadow: 2px 4px 3px rgba($black, .2);

		&::before {
			display: block;
			content: "";
			position: absolute;
			width: 0;
			height: 0;
			left: auto;
			margin-top: -20px;
			margin-left: 25px;
			border-style: solid;
			border-width: 9px;
			border-color: transparent;
			border-bottom-color: $red-200;
		}
	}
}