@import './../../style/mixins.scss';
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,400,600|Tulpen+One&display=swap');

%button-cross {
	&::before, &::after {
		content: '';
		position: absolute;
		top: 10px;
		display: block;
		width: 20px;
		height: 2px;
		background: #000;
	}
}

.block-information {
	display: flex;
	justify-content: center;

	&__block {
		display: flex;
		width: 850px;
		height: 600px;
		box-shadow: 0 0 50px rgba(0, 0, 0, .3);
	
		@include mq('tablet') {
			flex-direction: column;
			height: auto;
			width: 100%;
			min-width: 250px;
			max-width: 500px;
		}
	
		@include mq('phone') {
			max-width: 330px;
		}
	}

	&__block-link {
		position: relative;
		height: 30px;
		width: 30px;
		margin-left: 10px;
	}

	&__block-links {
		display: flex;
		flex-wrap: wrap;
	}

	&__button {
		display: flex;
		justify-content: flex-end;
		margin-top: 15px;
		font-family: 'Cormorant Garamond', serif;
		font-size: 18px;
		color: #333;
		text-decoration: underline;
		text-decoration-color: #888;
		cursor: pointer;

		&--close-one {
			margin-top: 0;

			@include mq('tablet') {
				display: none;
			}
		}

		&--close-two {
			display: none;
			margin-top: 0;
			margin-bottom: 10px;

			@include mq('tablet') {
				display: flex;
			}
		}
	}

	&__button-link {
		color: #333;
		text-decoration-color: #888;

		&:hover {
			color: #333;
			text-decoration-color: #888;
		}
	}

	&__content {
		position: relative;
		height: 100%;
		padding: 14px;
		text-align: center;
		font-family: 'Cormorant Garamond', serif;
		font-size: 18px;

		@include mq('phone') {
			padding: 10px;
		}
	}

	&__img-country {
		position: relative;
		bottom: 5px;
		height: 26px;
		width: 30px;
		margin-left: 5px;
	}

	&__line {
		margin-bottom: 5px;
	}

	&__link {
		position: absolute;
		height: 100%;
		width: 100%;
	}

	&__margin {
		margin-left: 10px;
	}

	&__page {
		width: 50%;
		background-color: #F5F5F5;
		background-image: linear-gradient(90deg, #dfdfdf 0%, rgba(247,247,247,0) 18%);
		
		&:nth-of-type(1) {
			background-image: linear-gradient(-90deg, #dfdfdf 0%, rgba(247,247,247,0) 18%);
		}

		@include mq('tablet') {
			width: 100%;
			min-width: 250px;
			max-width: 500px;
			justify-content: center;
			background-image: linear-gradient(-90deg, #dfdfdf 0%, rgba(247,247,247,0) 18%);

			&--1 {
				display: flex;
				margin-bottom: -10px;
				padding-bottom: 10px;
			}
		}

		@include mq('phone') {
			max-width: 330px;
		}
	}

	&__parametr {
		width: 100px;
		text-transform: uppercase;
		font-size: 14px;
	}

	&__row {
		display: flex;
		margin-bottom: 15px;
		padding-bottom: 3px;
		text-align: left;
		border-bottom: 1px solid;

		&--border-bottom {
			border-bottom: 0;
		}
	}

	&__title {
		margin-bottom: 20px;
		font-size: 17px;
		text-transform: uppercase;
		letter-spacing: 1px;
	}
}

.check {
	display: block;
	font-size: 15px;

	&__input {
		float: left;
		width: 1.25em;
		height: 1.25em;
		margin-right: 10px;
		border-radius: 5px;
		cursor: pointer;

		&:hover {
			background-color: #aaa;
		}
	}

	&__label {
		cursor: pointer;
	}
}

.item {
	height: 225px;
	width: 175px;
	margin-right: 30px;
	margin-bottom: 60px;
    padding-right: 14px;
    padding-left: 14px;

	@include mq('tablet') {
		height: 200px;
		width: 150px;
		margin-right: 20px;
	}

	@include mq('phone') {
		margin-right: 10px;
	}

	&__block {
		position: absolute;
	}

	&__image {
		position: absolute;
		width: 100%;
		height: 100%;
		object-fit: cover;

		&--height {
			height: auto !important;
		}
	}

	&__image-block {
		position: relative;
		height: 225px;
		width: 175px;
		overflow: hidden;

		@include mq('tablet') {
			height: 200px;
			width: 150px;
		}
	}

	&__link {
		position: absolute;
		height: 100%;
		width: 100%;
		z-index: 1;
	}

	&__shadow {
		box-shadow: 3px 3px 3px #555;

		&:hover {
			position: absolute;
			width: 100%;
			height: 100%;
			z-index: 5;
		}
	}

	&__title {
		padding: 0 10px 5px;
		text-align: center;
		font: 400 16px/1 'Lobster', cursive;
		color: #888;
		background-color: #F8F8F8;
		border: 10px solid #F8F8F8;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;

		&:hover {
			position: absolute;
			width: 100%;
			text-overflow: revert;
			white-space: normal;
			z-index: 5;
		}
	}

	&:hover {
		transform: scale(1.1);
		z-index: 5;
	}
}

.item-list {
	display: flex;
	position: relative;
	flex-wrap: wrap;
}

.modal-collections {
	width: 250px;
	background-color: #F5F5F5;

	&__header {
		padding: 20px 50px 20px 20px;
		border-radius: 6px 6px 0 0;
		background-color: #f2f2f2;
	}

	&__footer {
		position: relative;
		display: flex;
		justify-content: center;
		padding: 20px;
		border-radius: 0 0 6px 6px;
		cursor: pointer;
	}

	&__content {
		padding: 15px 20px;
	}

	&__title {
		margin: 0;
		font-size: 16px;
		line-height: 1.2;
	}

	&__close {
		position: absolute;
		top: 20px;
		right: 20px;
		width: 24px;
		height: 24px;
		border: 0;
		outline: 0;
		opacity: 0.4;
		cursor: pointer;

		&:hover {
			opacity: .8;
		}
	
		@extend %button-cross;

		&::before {
			transform: rotate(45deg);
		}

		&::after {
			transform: rotate(-45deg);
		}
	}

	&__new-collection-cross {
		position: relative;
		width: 20px;
		margin-right: 10px;
	}

	&__new-collection {
		border: 0;
		outline: 0;
		opacity: 0.4;
		cursor: pointer;
		transition: opacity ease 0.5s;
	
		@extend %button-cross;

		&::before {
			transform: rotate(90deg);
		}
	}

	&__new-collection-link {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		z-index: 1;
	}
}

.popup {
	position: absolute;
	top: 35px;
	left: 0;
	right: 0;
	max-height: 280px;
	padding: 5px 16px;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 5px;
	box-shadow: 0 10px 29px rgba(92,141,255,.22);
	overflow-y: scroll;
	z-index: 7;

	&__block {
		position: relative;
		display: flex;
		margin-bottom: 10px;
		color: #2a2935;
		border-bottom: 1px solid #ddd;
	}

	&__block-img {
		position: relative;
		height: 40px;
		width: 40px;
		margin-right: 14px;
	}
	
	&__img {
		height: 100%;
		width: 100%;
		border-radius: 50%;
		object-fit: cover;
	}

	&__link {
		position: absolute;
		height: 100%;
		width: 100%;
		z-index: 1;
	}

	&__title {
		margin-bottom: 5px;
		line-height: 20px;
		font-weight: 500;
	}

	&__title-original {
		font-size: 12px;
		color: #666;
	}
}

.poster {
	max-width: 275px;
	max-height: 400px;
	margin-top: 20px;
	margin-left: 70px;

	@include mq('tablet') {
		height: 100%;
		width: 100%;
		max-height: 100%;
		margin-top: 10px;
		margin-left: 0;

		&__image-block {
			position: relative;
			height: 300px;
			max-width: 275px;
			overflow: hidden;
		}
	}

	&__image {
		border: 10px solid #F8F8F8;

		@include mq('tablet') {
			position: absolute;
			height: 300px !important;
			width: 100%;
			max-width: 275px !important;
			object-fit: cover;

			&--height {
				height: auto !important;
			}
		}
	}

	&__original-title {
		margin-top: -10px;
		padding: 0 10px 5px;
		text-align: center;
		font: 400 18px/1 'Lobster', cursive;
		color: #888;
		background-color: #F8F8F8;
		border: 10px solid #F8F8F8;

		@include mq('tablet') {
			&--margin {
				margin-top: 0;
			}
		}
	}

	&__shadow {
		box-shadow: 3px 3px 3px #777;
	}

	&__title {
		margin-top: -10px;
		padding: 0 10px 5px;
		text-align: center;
		font: 400 16px/1 'Lobster', cursive;
		color: #888;
		background-color: #F8F8F8;
		border: 10px solid #F8F8F8;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}

.search {
	display: flex;
	justify-content: center;
	margin-bottom: 30px;

	&__block {
		position: relative;
		display: flex;
		width: 100%;
		max-width: 400px;
	}

	&__button {
		width: 25%;
		max-width: 100px;
		margin-left: 10px;
		font-size: 16px;
		color: #fff;
		background-color: #37cd8f;
		border: 0;
		border-radius: 6px;
		box-shadow: 0 5px 15px rgba(48,181,126,.7);

		&:hover {
			background-color: #2eb87e;
			cursor: pointer;
		}
	}

	&__input {
		width: 100%;
		height: 30px;
		padding: 8px;
		font-size: 16px;
		border: 1px solid #37cd8f;
		border-radius: 6px;
	}
}