@charset "utf-8";

@import './design-system';
@import './style/mixins';

* {
	margin: 0;
	padding: 0;
	outline: none;
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	height: 100%;
	width: 100%;
	background-color: $gray-500;
	color: $gray-600;
	font-family: $font-family-sans-serif;
	font-size: $font-size-base;
	line-height: $line-height-m;
	float: left;
}

img {
	max-width: 100%;
	height: auto;
	width: auto;
}

a {
	color: $red-200;
	text-decoration: none;
}

a:hover {
	color: $red-100;
}

a, a:hover {
	transition: all .6s ease;
}

.background {
	display: grid;
	grid-template-areas: 
		"header header"
		"sidebar main"
		"footer footer";
	grid-template-rows: 100px 1fr 60px;
	grid-template-columns: 15% 1fr;
	grid-gap: 10px;
	height: 100%;
	min-height: 100vh;
	background-image: url(./img/home-o.jpg);
	background-position: center center;
	background-attachment: scroll;
	background-size: cover;

	@include mq('tablet') {
		grid-template-areas: 
		"header header"
		"sidebar main"
		"footer footer";
		grid-template-columns: 0 1fr;
	}

	&--about,
	&--menu {
		background-image: url(./img/about-o.jpg);
	}

	&--auth {
		background-image: url(./img/registration-o.jpg);
	}

	&--gma,
	&--music {
		background-image: url(./img/music-o.jpg);
	}
}

.head, .sidebar, .main, .footer {
	position: relative;
	padding: 20px;
}

.head {
	grid-area: header;
}

.sidebar {
	grid-area: sidebar;
}

.main {
	grid-area: main;

	@include mq('tablet') {
		padding-top: 0;
		padding-left: 5px;
	}
}

.footer {
	grid-area: footer;
	height: 50px;
}

.center {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	transform: translate(-10%, 0);

	@include mq('tablet') {
		transform: unset;
	}
}

.hidden {
	display: none !important;
}