@import './style/mixins.scss';

.background {
	display: grid;
	grid-template-areas: 
		"header header"
		"sidebar main"
		"footer footer";
	grid-template-rows: 100px 1fr 60px;
	grid-template-columns: 15% 1fr;
	grid-gap: 10px;
	min-height: 100vh;
	background-image: url(./img/home-o.jpg);
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;

	@include mq('tablet') {
		grid-template-areas: 
		"header header"
		"sidebar main"
		"footer footer";
		grid-template-columns: 0 1fr;
	}

	&--about,
	&--menu {
		background-image: url(./img/about-o.jpg);
	}

	&--auth {
		background-image: url(./img/registration-o.jpg);
	}
}

.head, .sidebar, .main, .footer {
	padding: 20px;
}

.head {
	grid-area: header;
}

.sidebar {
	grid-area: sidebar;
}

.main {
	grid-area: main;

	@include mq('tablet') {
		padding-left: 5px;
	}
}

.footer {
	grid-area: footer;
	height: 50px;
}

.center {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	transform: translate(-10%, 0);

	@include mq('tablet') {
		transform: unset;
	}
}