@import './../../design-system';
@import './../../style/mixins.scss';

.email-warning {
	padding: 10px 15px;
	background: linear-gradient(119.23deg, $purple-100 0%, $yellow-100 99%);
	line-height: $line-height-xl;
	text-align: center;

	@include mq('phone') {
		padding: 10px;
		line-height: $line-height-lg;
	}
}