@import './../../design-system';
@import './../../style/mixins.scss';

.authentication {
	width: 330px;
	min-width: 250px;
	max-width: 330px;
	text-shadow: 2px 4px 3px rgba($black, .6);

	@include mq('tablet') {
		width: 100%;
	}

	&__title {
		margin: 0 0 5px;
		font-size: $h1-font-size;
		text-align: center;
		line-height: $line-height-lg;
		color: $gray-100;
		font-family: $font-family-sans-serif-mini;

		&--subtext {
			margin-bottom: 10px;
			font-size: $font-size-xl;
		}
	}

	&__input {
		width: 95%;
		height: 45px;
		display: flex;
		margin: 5px 0;
		margin-left: 2.5%;
		padding-left: 15px;
		padding-right: 30px;
		font-family: $font-family-sans-serif-mini;
		font-size: $font-size-base;
		box-sizing: border-box;
		border-radius: 5px;
		border: none;
		transition: all .2s ease-in-out;

		&:focus {
			box-shadow: 0 5px 5px $gray-200;
		}

		&--remember {
			display: flex;
			justify-content: space-between;
			padding: 0 6px;
		}
	}

	&__label {
		display: flex;
		color: $gray-100;
		font-family: $font-family-sans-serif-mini;
		font-size: $font-size-base;
		text-shadow: 3px 5px 4px rgba($black, .9);
		cursor: pointer;
	}

	&__text-label {
		margin-left: 5px;
		margin-top: 5px;

		&--color {
			color: $gray-100;
		}
	}

	&__checkbox {
		height: 25px;
		width: 25px;
		border-radius: 5px;
		cursor: pointer;
	}

	&__link {
		width: 100%;
		padding-top: 13px;
		color: $green-200;

		&:hover {
			color: $green-200;
		}
	}

	&__button {
		width: 95%;
		height: 45px;
		display: block;
		margin-left: 2.5%;
		font-family: $font-family-sans-serif-mini;
		font-size: $font-size-base;
		border: none;
		border-radius: 24px;
		cursor: pointer;
		transition: all .3s;

		&--primary {
			margin-top: 10px;
			background-color: $green-200;
			color: $gray-100;

			&:hover {
				background-color: $green-300;
			}
		}

		&--default {
			display: flex;
			text-align: center;
			margin-bottom: 10px;
			background-color: $gray-100;
			text-shadow: none;

			&:hover {
				background-color: $green-100;
			}
		}
	}

	&__error {
		width: 95%;
		margin-left: 2%;
		margin-bottom: -15px;
		margin-top: 8px;
		padding: 3px;
		text-align: center;
		color: $gray-100;
		background-color: $red-300;
		border-radius: 3px;
		text-shadow: 2px 4px 3px rgba($black, .2);

		&::before {
			display: block;
			content: "";
			position: absolute;
			width: 0;
			height: 0;
			left: calc(50% - 3.5px);
			margin-top: -20px;
			border-style: solid;
			border-width: 9px;
			border-color: transparent;
			border-bottom-color: $red-300;
		}
	}
}